# Archivos de entorno virtual
venv/
.env/
.venv/
env/

# Archivos específicos de Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Archivos de configuración de entornos virtuales y dependencias
*.env
*.venv
.Python
pip-log.txt
pip-delete-this-directory.txt

# Archivos de caché y logs
*.log
*.sqlite3

# Archivos de configuración de herramientas específicas (si las usas)
ipynb_checkpoints/
